@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1450px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/*header-top*/
	.az-header
		padding-top: 0px

	.az-table
		li
			a, a:focus
				font-size: 13px
				font-family: Arial
	/*header-top*/

	/*header-middle*/
	.az-logo
		width: 22%

	.az-header-phones
		width: 78%
		text-align: center

	.az-header-icons
		width: 78%

	.az-icons
		padding: 0
		width: 475px
		margin: 0 auto

	.az-header-icon
		padding-left: 56px
		background-size: 50px
		font-size: 0
		&.style2, &.style3
			background-size: 50px

	.az-icon-header
		font-size: 13px
		line-height: 14px
		display: inline-block

	.az-icon-cont
		line-height: 14px
		font-size: 11.5px
		display: inline-block

	.az-phones-inner
		width: 64%
		float: left
		text-align: right

	.az-call-back-inner
		width: 34%
		padding-left: 20px
		float: left
		text-align: left

	.az-header-phones
		padding-top: 5px

	.az-phones-inner-top
		a, a:focus
			font-size: 17px
			margin-left: 13px

	.az-phones-inner-bottom
		span
			font-size: 14px

	.az-call-back-inner
		a, a:focus
			font-size: 14px
	/*header-middle*/

	/*header-bottom*/
	.az-hb-left
		width: 20%
		padding: 7px 0 10px
		span
			font-size: 10px
			line-height: 14px

	.az-hb-middle
		float: left
		width: 50.5%
		padding: 7px 0px
		input[type="text"]
			height: 24px
			line-height: 24px
			font-size: 9.5px
			padding: 0 10px
		input[type="submit"]
			width: 23%
			height: 24px
			line-height: 22px
			border-top-right-radius: 2px
			border-bottom-right-radius: 2px
			font-size: 11.5px

	.az-hb-right
		padding: 3px 0

	.az-cart
		width: 85px
		padding-left: 30px
		background-size: 25px 23px

	.az-cart-top, .az-cart-top:focus
		font-size: 11.5px
		line-height: 16px

	.az-cart-summ
		display: inline-block
		font-size: 11.5px
		line-height: 16px
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/*header-top*/
	.az-table
		li
			a, a:focus
				padding: 0
	/*header-top*/
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.container
		padding-left: 5px
		padding-right: 5px
	
	/*header-mobile-top*/
	.az-header2
		padding-top: 7px

	.az-logo
		width: 18%
		text-align: center

	.az-header-phones
		width: 82%
		text-align: right
		padding-top: 0px

	.az-phones-inner
		width: 100%
		float: none

	.az-call-back-inner
		width: 100%
		float: none
		text-align: right

	.az-phones-inner-top
		font-size: 0
		a, a:focus
			font-size: 13.5px
			margin-left: 10px

	.az-phones-inner-bottom
		font-size: 0
		span
			font-size: 11.5px

	.az-call-back-inner
		font-size: 0
		a, a:focus
			font-size: 10.5px

	.az-ht2-left
		text-align: left
		margin-top: -28px;
		width: 254px;
		float: right;

	.az-cart
		margin: 0 0 0 22px
	/*header-mobile-top*/

	/*header-mobile-middle*/
	.az-header-middle2
		background: #f2f2f2
	.az-hb-middle
		
	/*header-mobile-middle*/

	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1865px)
	/**/

