@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.ah-sliderbox
		height: 248px
	.ah-slidecontent
		width: 23%
		border-right: 200px solid transparent
		border-bottom: 248px solid rgba(133,0,7,0.5)
	.ah-slidecontent-span1
		font-size: 29px
		padding-top: 10px
		padding-left: 16px
	.ah-slidecontent-span2
		font-size: 100px
		line-height: 110px
		padding-left: 16px
	.ah-slidecontent-span3
		width: 290px
		font-size: 26px
		line-height: 26px
	.ah-slidecontent-span4
		font-size: 37px
		line-height: 37px
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.ah-sliderbox
		height: 389px
	.ah-slidecontent
		border-right: 344px solid transparent
		border-bottom: 388px solid rgba(133,0,7,0.5)
	.ah-slidecontent-span1
		font-size: 48px
		padding-top: 40px
		padding-left: 16px
	.ah-slidecontent-span2
		font-size: 160px
		line-height: 160px
		padding-left: 16px
	.ah-slidecontent-span3
		width: 425px
		font-size: 38px
		line-height: 38px
	.ah-slidecontent-span4
		font-size: 63px
		line-height: 63px
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/